/* ------- Universal Styles -----*/
nav {
  position: relative;
}

.logo {
  font-family: 'Patua One', cursive;
  font-size: 42px;
}

.blue-nav {
  background-color: rgb(101, 182, 236, 0.75);
}

.btn-spacing {
  margin-right: 5px;
}

ul li {
  padding: 1rem;
}

#signUp-form, #signIn-form {
  position: absolute;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #c8dad6;
  box-shadow: 0px 0px 10px grey;
  z-index: 1;
  visibility: hidden;
}

.name-info, .email-info, .password-info {
  margin: 0px 0px 2% 5%;
}

#name, #email, #password, #password-repeat {
  display: block;
  width: 90%;
  margin: 0.25rem 0;
}

#email-signin, #password-signin {
  display: block;
  width: 70%;
  margin: 0.25rem 0;
}

.session-btn {
  background-color: #6569e4;
}

.submit-btn, .cancel-btn {
  margin: 0px 0px 5% 5%;
}

/* ------- Mobile Styles -----*/
@media screen and (max-width: 767px) {

  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(101, 182, 236); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .non-mobile {
    display: none;
  }

  .btn-margin {
    margin-top: 1rem;
  }

  .message-box, .list-unstyled {
    width: 95%;
    margin: auto;
  }

  #signUp-form {
    width: 80%;
  }

  .message-area {
    text-align: center;
  }

  .btn-blue {
    background-color: rgb(101, 182, 236);
    width: 95%;
  }

  .welcome-mobile {
    margin-left: 1rem;
  }

  .welcome-btn-margin {
    margin-top: 0.25rem;
  }

  .messages-container {
    height: 50vh;
  }

  .form-margin {
    margin-top: 2rem;
  }
}

/* ------ Tablet and Desktop styles ------- */

@media screen and (min-width: 768px) {

  .mobile {
    display: none;
  }

  .rooms-container {
    height: 50vh;
  }

  .rooms-margin {
    margin-top: 20px;
  }

  .row {
    max-width: 100%;
  }

  .col-margin {
    margin-left: 10px;
  }

  #signUp-form {
    width: 60%;
  }

  .message-box {
    width: 90%;
  }

  .list-unstyled {
    width: 400px;
  }

  .btn-blue {
    background-color: rgb(101, 182, 236);
    width: 20%;
    padding: 0.5rem;
  }

  .messages-container {
    height: 52vh;
    width: 90%;
  }
}