/* ------- Universal Styles -----*/
.logo {
  font-family: 'Patua One', cursive;
  font-size: 42px;
}

.blue-nav {
  background-color: rgb(101, 182, 236);
}

.btn-spacing {
  margin-right: 5px;
}

ul li {
  padding: 5px;
}

#signUp-form {
  position: absolute;
  top: 50%;
  right: 30%;
  width: 30rem;
  height: 18rem;
  background-color: rgb(54, 183, 153);
  border: 1px solid rgb(0, 0, 0);
  z-index: 1;
  visibility: hidden;
}
#email, #password {
  display: block;
  width: 90%;
  margin: 0.25rem 0;
}
/* ------- Mobile Styles -----*/
@media screen and (max-width: 767px) {

  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3a64e0; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  /*
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  */

  .non-mobile {
    display: none;
  }

  .message-box {
    width: 95%;
    margin: auto;
  }

  .list-unstyled {
    width: 95%;
    margin: auto;
  }

  .row {
    max-width: 100%;
  }

  .column-left-mobile {
    text-align: center;
    width: 50%;
    margin-left: 5px;
    padding-right: 0px;
  }

  .column-right-mobile {
    width: 50%;
    padding-right: 0;
    text-align: center;
  }

  form {
    margin-top: 25px;
  }

  .message-area {
    text-align: center;
  }

  .btn-blue {
    background-color: rgb(101, 182, 236);
    width: 95%;
  }

  .message-margin {
    margin-top: 20px;
  }
}
/* ------ Tablet and Desktop styles ------- */

@media screen and (min-width: 768px) {

  .mobile {
    display: none;
  }

  .rooms-container {
    height: 50vh;
  }

  .rooms-margin {
    margin-top: 20px;
  }

  .row {
    max-width: 100%;
  }

  .col-margin {
    margin-left: 10px;
  }

  form {
    max-width: 400px;
  }

  .message-box {
    width: 400px;
    height: 100px;
  }

  .list-unstyled {
    width: 400px;
  }

  .btn-blue {
    background-color: rgb(101, 182, 236);
    width: 100%;
  }

  .message-margin {
    margin-top: 20px;
  }

  .messages-container {
    height: 70vh;
  }
}